@font-face {
  font-family: 'MyCustomFont';
  src: url('fonts/Kanit-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'MyCustomFont';
  background-color: #f0f0f0;
  margin: 0;
}

.container {
  max-width: 400px;
}

.gradient-card {
  background: linear-gradient(135deg, #0522a3, #0523aa);
  color: white;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.card-title {
  margin-bottom: 20px;
  color: white;
}

.card-text {
  color: white;
}

.form-group {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.otp-input {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 24px;
  border-radius: 5px;
  border: 2px solid #ddd;
  margin-right: 10px;
  font-size: 25px;
  font-weight: bold;
  color: #131212;
}

.otp-input:last-child {
  margin-right: 0;
}

#phone-number {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: 2px solid #ddd;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #131212;
}

.form-label {
  margin-top: 10px;
  color: white;
}

.btn {
  font-size: 16px;
  border-radius: 25px;
  height: 50px;
}

.btn-primary {
  background-color: var(--btn-primary-bg, #0400ff);
  border-color: var(--btn-primary-border, #ffffff);
}

.btn-primary:hover {
  background-color: var(--btn-primary-bg-hover, #0056b3);
  border-color: var(--btn-primary-border-hover, #0056b3);
}

.modal-body .card-title {
  font-size: 18px;
  margin: 10px 0;
  color: #333;
}

.modal-body .card-text {
  font-size: 16px;
  color: #333;
}

.btn-secondary {
  background-color: var(--btn-secondary-bg, #f11414);
  border-color: var(--btn-secondary-border, #f11414);
}

.btn-secondary:hover {
  background-color: var(--btn-secondary-bg-hover, #f11414);
  border-color: var(--btn-secondary-border-hover, #f11414);
}

.btn-secondary:focus, .btn-secondary.focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

#phone-number-result, #predicted-number {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: 2px solid #ddd;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #131212;
}
